<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batch Update</title>
    <link href="/static/js/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="/static/js/jquery-ui/external/jquery/jquery.js"></script>
    <script src="/static/js/jquery-ui/jquery.cookie.min.js"></script>
    <script src="/static/js/jquery-ui/jquery-ui.js"></script>
    <script src="/static/js/base.js"></script>
</head>
<body>
<fieldset>
    <legend>根据fs_id更新</legend>
    <form id="update_item_form" onsubmit="return false">
        <dl>
            <dt>更新源(Pan:{{name}})</dt>
            <dd>
                <select name="source">
                    <option value="local">local</option>
                    <option value="shared">shared</option>
                </select>
            </dd>
            <dt><label for="fs_id">更新内容fs_id</label></dt>
            <dd><input id="fs_id" name="fs_id"/></dd>
            <dt>更新列名(Pan:{{name}})</dt>
            <dd>
                <select name="cname">
                    {% for cl in columns %}
                    <option value="{{cl}}">{{cl}}</option>
                    {% end %}
                </select>
            </dd>
            <dt><label for="value">更新内容</label></dt>
            <dd><input id="value" name="value"/></dd>
        </dl>
        <input name="pan_id" type="hidden" value="{{pan_id}}"/>
        <input type="submit" tabindex="-1" onclick="update_item()"/>
    </form>
</fieldset>
<fieldset>
    <legend>批量更新</legend>
    <form id="batch_update_form" onsubmit="return false">
        <dl>
            <dt>更新列名(Pan:{{name}})</dt>
            <dd>
                <select name="cname">
                    {% for cl in columns %}
                    <option value="{{cl}}">{{cl}}</option>
                    {% end %}
                </select>
            </dd>
            <dt><label for="datas">更新内容</label></dt>
            <dd><textarea id="datas" rows="10" cols="10" name="datas"
                          style="width:800px;height:400px;">0001	塞尔达传说 旷野之息</textarea></dd>
        </dl>
        <input name="pan_id" type="hidden" value="{{pan_id}}"/>
        <input type="submit" tabindex="-1" onclick="update_items()"/>
    </form>
</fieldset>
<fieldset>
    <legend>结果</legend>
    <div id="result"></div>
</fieldset>
</body>
<script>
    let panid = "{{pan_id}}";
    let update_items = function () {
        let confirm_val = prompt("确认要执行批量更新吗?确认请输入UPDATE.", "");
        if ("UPDATE" === confirm_val) {
            let data = $('#batch_update_form').serializeArray();
            let jsonObj = {"pan_id": panid};
            $(data).each(function () {
                jsonObj[this.name] = this.value;
            });
            console.log('dist_product:', jsonObj);
            call_service('/man/batchupdatedo?tk=' + GetQueryString('tk'), jsonObj, function (res) {
                console.log('res result:', res);
                $('#result').html(JSON.stringify(res));
            });
        }

    };
    let update_item = function () {
        let confirm_val = prompt("确认要执行更新[" + $('#fs_id').val() + "]吗?确认请输入UPDATE.", "");
        if ("UPDATE" === confirm_val) {
            let data = $('#update_item_form').serializeArray();
            let jsonObj = {"pan_id": panid};
            $(data).each(function () {
                jsonObj[this.name] = this.value;
            });
            call_service('/man/updateitem?tk=' + GetQueryString('tk'), jsonObj, function (res) {
                console.log('res result:', res);
                $('#result').html(JSON.stringify(res));
            });
        }

    }
</script>
</html>