<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="/static/js/jstree/themes/default/style.min.css" rel="stylesheet">
    <link href="/static/js/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <style>
        html { margin:0; padding:0; font-size:62.5%; }
        body { margin:0 auto; padding:20px 10px; font-size:1.4em; }
        h1 { font-size:1.8em; }
	    .pan-tree { overflow:auto; border:1px solid silver; min-height:200px;}

        .validateTips { border: 1px solid transparent; padding: 0.3em; }
        .form_table label,#dialog-form input { display:block; }
        .form_table input.text { margin-bottom:12px; width:95%; padding: .4em; }
        .custom-combobox-pagination {
            width:20px;
            height:20px;
        }
        .custom-combobox {
            position: relative;
            display: inline-block;
        }
        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }
        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }
        .ui-draggable, .ui-droppable {
            background-position: top;
        }
        .odd {
            background-color: #dddddd;
        }
	</style>
    <script src="/static/js/jquery-ui/external/jquery/jquery.js"></script>
    <script src="/static/js/jstree/jstree.min.js"></script>
    <script src="/static/js/jquery-ui/jquery-ui.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/mancombobox.js"></script>
    <title>Manage File Tree</title>
</head>
<body>
    <div class="toolbar">
        <button id="home">Home</button>
        <button id="panmanage">网盘维护</button>
        <!--<button id="self_sync_root">同步根目录</button>-->

    </div>
    <div>
        <form id="manu_form">
            <label for="dir_file_item_id">(目录/文件)ID</label>
            <input type="text" name="dir_file_item_id" id="dir_file_item_id" value="" />
            <select id="source_type">
                <option value="local">local</option>
                <option value="shared">shared</option>
            </select>
            <button id="manu_file_del">删除</button>
        </form>
    </div>
	<h1>我的网盘资源</h1>
	<div id="tree" class="pan-tree"></div>
    <div id="dialog-message" title="正在处理等待同步">
        <div class="progress-label">处理中...</div>
        <div id="progressbar"></div>
    </div>
    <div id="dialog-form" title="Create new user">
      <p class="validateTips">All form fields are required.</p>
      <form id="product_form">
        <fieldset class="form_table">
          <label for="p_name">商品名称</label>
          <input type="text" name="p_name" id="p_name" value="" class="text ui-widget-content ui-corner-all"/>
          <label for="p_price">商品价格(单位:元)</label>
          <input type="text" name="p_price" id="p_price" value="" class="text ui-widget-content ui-corner-all"/>
            <input type="hidden" name="isdir" id="isdir" value="0" />
            <input type="hidden" name="itemid" id="itemid" value="0" />
          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
        </fieldset>
          <fieldset>
            <legend>配置方式: </legend>
              <label for="current">当前目标</label>
            <input type="radio" value="top" name="layer" id="current" checked/>
            <label for="recursive">迭代所有</label>
            <input type="radio" value="all" name="layer" id="recursive"/>
          </fieldset>
      </form>
    </div>
    <div id="dialog-dist-form" title="Dist Product">
        <label for="p_name">商品名称:</label><label id="pro_name"></label>

      <p>用户查询</p>
        <p class="validateTips">All form fields are required.</p>
      <form id="dist_product_form">
          <select id="dist_combobox">
            <option value="">Select one...</option>
          </select>
          <input type="hidden" name="itemid" id="pro_itemid" value="0" />
      </form>
    </div>
    <div id="dialog-rename-form" title="Rename">
        <p class="validateTips">All form fields are required.</p>
      <form id="rename_item_form">
          <fieldset class="form_table">
              <dl>
                  <dt><label for="old_name">商品名称</label></dt>
                  <dd><input type="text" name="old_name" id="old_name" value="" class="text ui-widget-content ui-corner-all"/></dd>
                  <dt><label for="alias_name">商品别名</label></dt>
                  <dd><input type="text" name="alias_name" id="alias_name" value="" class="text ui-widget-content ui-corner-all"/></dd>
              </dl>
              <input type="hidden" name="itemid" id="rename_itemid" value="0" />
              <input type="hidden" name="source" id="rename_source" value="" />
          </fieldset>
      </form>
    </div>
    <div id="dialog-free-form" title="Free">
        <p class="validateTips">All form fields are required.</p>
      <form id="free_item_form">
          <fieldset class="form_table">
              <dl>
                  <dt>目录名称</dt>
                  <dd><label type="text" id="_name" ></label></dd>
                  <dt><label for="desc">描述</label></dt>
                  <dd><input type="text" name="desc" id="desc" value="" class="text ui-widget-content ui-corner-all"/></dd>
              </dl>
              <input type="hidden" name="itemid" id="free_itemid" value="0" />
              <input type="hidden" name="source" id="free_source" value="" />
              <input type="hidden" name="tags" id="free_tags" value="" />
          </fieldset>
      </form>
    </div>
    <script src="/static/js/pantree.js"></script>
	<script>
	// html demo

	// lazy demo

	/*
	*
	headers = {"SURI-TOKEN": tk, "Content-Type": "application/x-www-form-urlencoded"};
		var options = {
			method: 'GET',
			url: point+'source/syncallnodes?id='+item_id+'&recursion='+(recursion?1:0),
			followRedirect: false,
			followOriginalHttpMethod: true,
			timeout: 120000,
			strictSSL: false,
			headers: headers
		};
	*
	* */
	function updateTips( tips, t ) {
      tips.text( t ).addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }
	function check_state(pan_id, cb) {
        let params = {tk: GetQueryString('tk'), 'panid': pan_id};
        call_service_by_get('/source/syncstate', params, function (res) {
                let st = res['state'];
                if(1 === st){
                    cb(true)
                } else {
                    setTimeout(function(){check_state(pan_id, cb)}, 5000)
                }
            });
    }
    $(function(){
        $( "#dialog-form input[type=radio]" ).checkboxradio();
        /////////////////////////////////////////////////////////

        $("#dist_combobox").combobox({"parent": $("#dist_product_form"), "src":function(request, cb){
                let kw = request.term;
                let __params = {"offset":0, "tk": GetQueryString('tk'), 'kw':kw, 'page': request.page}
                call_service_by_get('/product/su', __params, function (res) {
                    let result = res;
                    console.log('res result:', result);
                    cb(result);
                });

            }});
        //////////////////////////////////////////////////////combobox
        dialog = $( "#dialog-message" ).dialog({
            autoOpen: false,
            closeOnEscape: false,
            resizable: false,
            modal:true,
            buttons: [],
            open: function() {},
            beforeClose: function() {}

          });
        let $panmanage = $( "#panmanage" );
        $panmanage.button({
          "icon": "ui-icon-wrench",
          "showLabel": true
        });
        $( "#home" ).button({
          "icon": "ui-icon-home",
          "showLabel": false
        }).on('click', function (event, ui) {
            document.location.href='/man/init?tk=' + GetQueryString('tk');
        }).end();

        $("#manu_file_del").button({
          "icon": "ui-icon-trash",
          "showLabel": true
        }).on("click", function (event, ui) {
            let data = $('#manu_form').serializeArray();
            let jsonObj={};
            $(data).each(function(){
                jsonObj[this.name]=this.value;
            });
            let source_val = $("#source_type").val();
            jsonObj['source'] = source_val
            console.log('jsonObj:', jsonObj);
            let confirm_val = prompt("确认要清除[" + node.text + "]吗?确认请输入DELETE.", "");
            if ("DELETE" === confirm_val) {
                dialog.dialog("open");
                call_service('/man/clear?tk='+GetQueryString('tk'), jsonObj, function (res) {
                let st = res['state'];
                if (st < 0) {
                    let errmsg = '删除失败!';
                    if (res.hasOwnProperty('errmsg')) {
                        errmsg = res['errmsg']
                    }
                    dialog.dialog("close");
                    alert(errmsg)
                } else if (st === 0) {
                    dialog.dialog("close");
                }

            });
            }

        });

        // $self_sync_root.button({icon: "ui-icon-transferthick-e-w", showLabel: true}).on("click", function (event, ui) {
        //         $self_sync_root.button('disable');
        //         // let params = {tk: GetQueryString('tk'), id: 0, recursion: 0};
        //         let params = {tk: GetQueryString('tk'), recursion: 0, 'panid': pan_id};
        //         call_service_by_get('/product/syncallnodes', params, function (res) {
        //             let result = res['result'];
        //             console.log('res result:', result);
        //             check_state(function (ok) {
        //                 $("#self_sync_root").button('enable');
        //                 $.jstree.reference('#tree').refresh();
        //             });
        //         });
        //     // setTimeout(()=>{$("#self_sync_root").button('enable');}, 5000);
        // }).end();

        let progressbar = $( "#progressbar" );
        progressbar.progressbar({
          value: false,
          change: function() {
            progressLabel.text( "Current Progress: " + progressbar.progressbar( "value" ) + "%" );
          },
          complete: function() {
            progressLabel.text( "Complete!" );
            dialog.dialog( "option", "buttons", [{
              text: "Close",
              click: closeDownload
            }]);
            $(".ui-dialog button").last().trigger( "focus" );
          }
        });
        /*Free*/
        let free_item = function(){
            let tips = $( ".validateTips" , "#dialog-free-form");
            let desc = $('#desc').val();
            if(desc.length === 0){
                updateTips(tips, '请设置描述内容!');
                return;
            }
            let data = $('#free_item_form').serializeArray();
            let jsonObj={};
            $(data).each(function(){
                jsonObj[this.name]=this.value;
            });
            call_service('/man/free?tk='+GetQueryString('tk'), jsonObj, function (res) {
                let st = res['state'];
                console.log('res result:', res);
                if (st < 0) {
                    let errmsg = '免费资源设置失败!';
                    if (res.hasOwnProperty('errmsg')) {
                        errmsg = res['errmsg']
                    }
                    dialog.dialog("close");
                    free_form_dialog.dialog("close");
                    alert(errmsg)
                } else {
                     if(free_form_dialog.ctx){
                        setTimeout(() => {
                            free_form_dialog.ctx.inst.refresh(free_form_dialog.ctx.node);
                            free_form_dialog.ctx = null;
                            dialog.dialog("close");
                            free_form_dialog.dialog( "close" );
                        }, 5000)
                    } else {
                        dialog.dialog("close");
                        free_form_dialog.dialog( "close" );
                    }
                }
            });
        }
        /*Rename*/
        let rename_item = function(){

            let to_do_rename = function(){
                let data = $('#rename_item_form').serializeArray();
                let jsonObj={};
                $(data).each(function(){
                    jsonObj[this.name]=this.value;
                });
                console.log('rename_item:', jsonObj);
                dialog.dialog("open");

                call_service('/man/rename?tk='+GetQueryString('tk'), jsonObj, function (res) {
                    let st = res['state'];
                    console.log('res result:', res);
                    if(st<0){
                        let errmsg = '重命名失败!';
                        if(res.hasOwnProperty('errmsg')){
                            errmsg = res['errmsg']
                        }
                        dialog.dialog("close");
                        rename_form_dialog.dialog( "close" );
                        alert(errmsg)
                    } else {
                        if(rename_form_dialog.ctx){
                            setTimeout(() => {
                                rename_form_dialog.ctx.inst.refresh(rename_form_dialog.ctx.node);
                                rename_form_dialog.ctx = null;
                                dialog.dialog("close");
                                rename_form_dialog.dialog( "close" );
                            }, 5000)
                        } else {
                            dialog.dialog("close");
                            rename_form_dialog.dialog( "close" )
                        }
                    }

                });

            }

            let tips = $( ".validateTips" , "#dialog-rename-form");
            let node = rename_form_dialog.ctx.node
            let new_fn = $('#old_name').val();
            let new_alias_fn = $('#alias_name').val();
            if(node.data.fn === new_fn && new_alias_fn === node.data.alias){
                return;
            } else {
                let ori_ext_name = extname(node.data.fn);
                let new_fn_ext_name = extname(new_fn);
                let alias_ext_name = extname(new_alias_fn);
                let permit_rename = false;
                if(ori_ext_name !== alias_ext_name && new_alias_fn !== node.data.alias){
                    updateTips(tips, '别名扩展名['+alias_ext_name+']与文件扩展名['+ori_ext_name+']不一致!');
                    permit_rename = confirm('别名扩展名['+alias_ext_name+']与文件扩展名['+ori_ext_name+']不一致!要继续执行修改操作吗?')
                } else {
                    permit_rename = true;
                }
                if(permit_rename && ori_ext_name !== new_fn_ext_name && new_fn !== node.data.fn){
                    updateTips(tips, '扩展名['+new_fn_ext_name+']与原文件扩展名['+ori_ext_name+']不一致!');
                    permit_rename = confirm('扩展名['+new_fn_ext_name+']与原文件扩展名['+ori_ext_name+']不一致!要继续执行修改操作吗?')
                } else {
                    permit_rename = true;
                }
                if(permit_rename){
                    to_do_rename();
                }
            }

        };
        /* 分配商品 */
        let dist_product = function(){
            let combobox_instance = $("#dist_combobox").combobox('instance');
            let data = $('#dist_product_form').serializeArray();
            let tips = $( ".validateTips" , "#dialog-dist-form");
            let jsonObj={};
            $(data).each(function(){
                jsonObj[this.name]=this.value;
            });
            console.log("dist_combobox val:",combobox_instance.input.val())
            jsonObj["user_name"] = combobox_instance.input.val();
            console.log('dist_product:', jsonObj);
            call_service('/product/buy?tk='+GetQueryString('tk'), jsonObj, function (res) {
                let st = res['state'];
                if(st === 0){
                    alert(res['msg']);
                    dist_form_dialog.dialog( "close" );
                }else{
                    alert('Failed!');
                }
                // console.log('res result:', result);

            });
        };
        /* 创建商品 */
        let set_product = function(){
            let data = $('#product_form').serializeArray();
            let jsonObj={};
            $(data).each(function(){
                jsonObj[this.name]=this.value;
            });
            console.log('set_product:', jsonObj);
            dialog.dialog("open");
            call_service('/product/tag?tk='+GetQueryString('tk'), jsonObj, function (res) {
                let result = res['result'];
                console.log('res result:', result);
                if(form_dialog.ctx){
                    setTimeout(() => {
                        form_dialog.ctx.inst.refresh(form_dialog.ctx.node);
                        form_dialog.ctx = null;
                        dialog.dialog("close");
                        form_dialog.dialog( "close" );
                    }, 5000)
                } else {
                    form_dialog.dialog( "close" )
                }
            });
        };
        let p_name = $('#p_name');
        let p_price = $('#p_price');
        let allFields = $( [] ).add( p_name ).add( p_price ), tips = $( ".validateTips" , "#dialog-form");
        form_dialog = $( "#dialog-form" ).dialog({
              autoOpen: false,
              height: 400,
              width: 350,
              modal: true,
              buttons: {
                "设置为商品": set_product,
                Cancel: function() {
                  form_dialog.dialog( "close" );
                }
              },
              close: function() {
                allFields.removeClass( "ui-state-error" );
              }
            });
        dist_form_dialog = $("#dialog-dist-form").dialog({
            autoOpen: false,
              height: 400,
              width: 350,
              modal: true,
            buttons: {
                "分配商品": dist_product,
                Cancel: function() {
                  dist_form_dialog.dialog( "close" );
                }
              },
              open:function(){
                // $("#dialog-dist-form").css('z-index', 99);
                // $("#dialog-dist-form").parent().css('z-index', 99);
              },
              close: function() {

              }
        });
        rename_form_dialog = $("#dialog-rename-form").dialog({
            autoOpen: false,
              height: 400,
              width: 550,
              modal: true,
            buttons: {
                "提交修改": rename_item,
                Cancel: function() {
                  rename_form_dialog.dialog( "close" );
                }
              },
              open:function(){
              },
              close: function() {

              }
        });
        free_form_dialog = $("#dialog-free-form").dialog({
            autoOpen: false,
              height: 400,
              width: 550,
              modal: true,
            buttons: {
                "提交": free_item,
                Cancel: function() {
                  free_form_dialog.dialog( "close" );
                }
              },
              open:function(){
              },
              close: function() {

              }
        });

    });

	</script>
</body>
</html>