<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建课程</title>
    <link href="/static/js/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="/static/js/jquery-ui/external/jquery/jquery.js"></script>
    <script src="/static/js/jquery-ui/jquery.cookie.min.js"></script>
    <script src="/static/js/jquery-ui/jquery-ui.js"></script>
    <script src="/static/js/base.js"></script>
</head>
<body>
    <form id="new_essay_form">
        <fieldset class="form_table">
            <legend>课程信息</legend>
            <dl>
                <dt><label for="title">题目</label></dt>
                <dd><input type="text" name="title" id="title" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="authors">作者</label></dt>
                <dd><input type="text" name="authors" id="authors" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="info">简介</label></dt>
                <dd><input type="text" name="info" id="info" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="idx">课序</label></dt>
                <dd><input type="text" name="idx" id="idx" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="tag">年级</label></dt>
                <dd>
                    <select name="tag" id="tag">
                      <option value="1">一年级</option>
                      <option value="2">二年级</option>
                      <option value="3">三年级</option>
                      <option value="4">四年级</option>
                      <option value="5">五年级</option>
                      <option value="6">六年级</option>
                    </select>
                </dd>
                <dt><label for="description">内容</label></dt>
                <dd>
                  <textarea id="description" name="description" style="width:100%;height:100px;">

                  </textarea>
                </dd>
            </dl>
        </fieldset>
        <fieldset class="form_table">
            <legend>汉字信息</legend>
            <dl>
                <dt><label for="txt">字</label></dt>
                <dd><input type="text" name="txt" id="txt" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="py">拼音</label></dt>
                <dd><input type="text" name="py" id="py" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="cap">首字母</label></dt>
                <dd><input type="text" name="cap" id="cap" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="bs">部首</label></dt>
                <dd><input type="text" name="bs" id="bs" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="sds">造字</label></dt>
                <dd>
                    <select name="sds" id="sds">
                      <option value="形声">形声</option>
                      <option value="象形">象形</option>
                      <option value="指事">指事</option>
                      <option value="会意">会意</option>
                      <option value="转注">转注</option>
                      <option value="假借">假借</option>
                    </select>
                </dd>
                <dt><label for="num">笔画</label></dt>
                <dd><input type="text" name="num" id="num" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="struct">结构</label></dt>
                <dd><input type="text" name="struct" id="struct" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="demo">举例</label></dt>
                <dd><input type="text" name="demo" id="demo" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="worder">笔顺</label></dt>
                <dd><input type="text" name="worder" id="worder" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="zc">组词</label></dt>
                <dd><input type="text" name="zc" id="zc" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="zy">字义</label></dt>
                <dd><input type="text" name="zy" id="zy" value="" class="text ui-widget-content ui-corner-all"/></dd>
                <dt><label for="gif_input">动图</label></dt>
                <dd><input type="file" name="gif" id="gif_input"/><img id="gif_view"/></dd>
            </dl>
        </fieldset>
        <input type="button" tabindex="-1" id="tosave_btn" value="提交"/>
        </form>
    <div id="dialog-message" title="正在处理等待同步">
        <div class="progress-label">处理中...</div>
        <div id="progressbar"></div>
    </div>
</body>
<script>
    //title, authors, info, idx, tag, description,
    // txt, py, cap, bs, sds, num, struct, demo, worder, zc, zy, txt_gif, hz_idx
    let dialog = $( "#dialog-message" ).dialog({
            autoOpen: false,
            closeOnEscape: false,
            resizable: false,
            modal:true,
            buttons: [],
            open: function() {},
            beforeClose: function() {}

          });
    let tosave_item = function(){

        let to_do_save = function(){
            var form_data =new FormData($("#new_essay_form")[0]);
            var point = '/man/newessay?tk='+$.cookie('tk');
            var cb = function (res) {
                let st = res['state'];
                console.log('res result:', res);
                if(st<0){
                    let errmsg = '新建失败!';
                    if(res.hasOwnProperty('errmsg')){
                        errmsg = res['errmsg']
                    }
                    dialog.dialog("close");
                    rename_form_dialog.dialog( "close" );
                    alert(errmsg)
                } else {

                }

            };
dialog.dialog("open");
            $.ajax({
                url:point,
                data:form_data,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                method:"POST",
               // contentType:"multipart/form-data",
                success:function (res) {
                    console.log("success new essay rs:", res);
                    cb(res);
                }
            }).done(function(res){
               console.log("load rs:", res);
               cb(res);
            });
        };
        to_do_save();
    };
    $( "#tosave_btn" ).on("click", (e)=>{
        tosave_item();
        });
    $("#gif_input").on("change",(e)=>{
        // window.files = e.target.files;
        var raw = e.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
			var buffer = this.result;
			var imgdata = new Uint8Array(buffer);
			var blob = new Blob([imgdata]);
            var img_src = window.URL.createObjectURL(blob);
            var img_elem = $("#gif_view")[0];
			if(img_elem){
			    img_elem.src = img_src;
			    img_elem.onload = function () {
                    window.URL.revokeObjectURL(img_src);
                }
            }
		};
		reader.readAsArrayBuffer(raw);
        console.log("gif file:",e);

    });
</script>
</html>